.not-found-main {
    background-color: var(--background);
}



.emoji-bounce {
    font-size: 5rem;
    display: inline-block;
    animation: bounce-anim 3.5s ease-in-out infinite;
}

@keyframes bounce-anim {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}