.text-primary-custom {
    color: var(--primary);
}
main{
    background: var(--background);
}


.dot-protein {
    width: 8px;
    height: 8px;
    background-color: var(--protein);
}

.feature-card {
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.hover-dark:hover {
    color: var(--foreground) !important;
}


.floating-emoji {
    user-select: none;
    animation: bounce-float 3.5s ease-in-out infinite;
}

@keyframes bounce-float {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}


.pointer-events-none {
    pointer-events: none;
}